<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Betastore</title>

    <!-- Bootstrap -->

 <%= stylesheet_link_tag "application" %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
  <%= render 'layouts/flash' %>
   <%= yield %>
 </div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand">Betastore</a>
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
<!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag "application" %>
  </body>
</html>




<!-- <!DOCTYPE html>
<html>
<head>
  <title>Betastore</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="margin: 0 auto; text-align: center">
    <h1>Betastore Admin</h1>

  </div>
</body>
</html> -->

